.navHeader {
  width: 100%;
  height: 100px;
  background-color: #444444;
  padding: 20px 0 20px;
  font-size: 20px;
  .navIcon {
    width: 380px;
    height: 60px;
    padding-left: 24px;
    line-height: 60px;
    float: left;
    color: #ffffff;
    border-right: 1px solid #313233;
    img {
      height: 60px;
    }
  }
  .searchBox {
    height: 60px;
    float: left;
    img {
      margin: 15px 10px 15px;
      width: 30px;
      height: 30px;
    }
    input {
      border: none;
      width: 300px;
      background-color: #444444;
      color: #ffffff;
    }
  }
  .methodBox {
    float: right;
    padding: 15px 70px 15px;
    height: 60px;
    img {
      height: 30px;
      margin-left: 50px;
    }
  }
  .userInfoBox {
    float: right;
    padding: 5px 0 5px;
    height: 60px;
    color: #ffffff;
    img {
      height: 50px;
      margin-right: 20px;
    }
    .arrow {
      height: 12px;
      margin-left: 20px;
    }
  }
}
